section {
    padding: 15% 25%;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

h1 {
    font-family: 'Fraunces', serif;
    color: black;
    line-height: 1;
    padding-top: 1.4rem;

}

h2 {
    font-size: 15px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: hsl(229, 8%, 49%);
    padding-top: 1.4rem;
}

.preview-card {
    border-radius: 5%;
    overflow: hidden;
}
/* Image Side of Preview Card */
.image-side{
padding: 0;
}

/* Perfume Image Properties */
.image-propers {
    width: 100%;
    height: 100%;
}

/* Prduct Detail Side of Preview Card*/
.product-details {
    position: relative;
    background-color: white;
}

.description {
    padding: 10% 10% 4% 8%;
    height: 100%;
}


#discount {
    color: hsl(158, 36%, 37%);
}

#og-price {
    position: relative;
    text-decoration: line-through;
    left: 15px;
    bottom: 8px;
}

.pricing {
    display: inline-block;
}

button {
    background-color: hsl(158, 36%, 37%);
    height: 11%;
    width: 80%;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    display: block;
    margin: 1.2rem auto 50px;
    font-size: 1.1rem;
}
button:hover {
    background-color: hsl(158, 42%, 25%);

}
/* attribution */

.attribution {
    text-align: center;
    padding-bottom: 2rem;
}